<div class="arrive-shop">
  <div class="reminder-switch">
    <p class="text">离开门店</p>
    <div class="switch1 select"><!--select 开关open的时候-->
      <div class="btn"></div>
    </div>
  </div>

  <div class="user-infor">
    <ul class="title">
      <li class="time">2018年12月</li>
      <li class="totalNum">共计10人</li>
    </ul>
    <div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="male"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>到店信息</li>
          <li>2017.08.19 16:48  大冲国美电器</li>
          <li class="arrive-shop-number">第 <span>1</span>次到店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19 16:48  大冲国美电器</li>
          <li class="arrive-shop-number">第 <span>1</span>次到店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">26岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19 16:48  大冲国美电器</li>
          <li class="arrive-shop-number">第 <span>1</span>次到店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19 16:48  大冲国美电器</li>
          <li class="arrive-shop-number">第 <span>1</span>次到店</li>
        </ul>
      </div>
    </div>

  </div>
</div>
