<div class="opportunity">
  <div class="tab-title">
    <ul class="nav">
      <li class="current">
        <span>统计</span>
        <span></span>
      </li>
      <li>
        <span>明细</span>
        <span></span>
      </li>
    </ul>
  </div>
  <div class="statistics hide">
    <ul class="nav">
      <li  class="current">
        <span>按日</span>
        <span></span>
      </li>
      <li>
        <span>按周</span>
        <span class=""></span>
      </li>
      <li>
        <span>按月</span>
        <span class=""></span>
      </li>
    </ul>
    <div class="repeat-arrive-number">
      <div class="chart">
        <div class="content">
          <div id="repeat-arrive-number"></div>
          <!--<div id="growth-trend-bar"></div>-->
        </div>
      </div>
      <p>重复到店人数数据图(人)</p>
    </div>
  </div>
  <div class="user-infor">
    <ul class="title">
      <li class="time">2018年12月</li>
      <li class="totalNum">共计10人</li>
    </ul>
    <div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="male"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19  国美电器－大冲店</li>
          <li>历史信息</li>
          <li>2017.08.06  国美电器－世界之窗店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19  国美电器－大冲店</li>
          <li>历史信息</li>
          <li>2017.08.06  国美电器－世界之窗店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">26岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19  国美电器－大冲店</li>
          <li>历史信息</li>
          <li>2017.08.06  国美电器－世界之窗店</li>
        </ul>
      </div>
      <div class="user-panel">
        <div class="ava">
          <div>
            <img src="../../assets/images/nv.png" alt="">
            <span class="female"></span>
          </div>
          <p class="age">25岁</p>
        </div>
        <ul>
          <li>本店信息</li>
          <li>2017.08.19  国美电器－大冲店</li>
          <li>历史信息</li>
          <li>2017.08.06  国美电器－世界之窗店</li>
        </ul>
      </div>
    </div>

  </div>
</div>
