<div class="account">
  <ul>
    <li>
      <a href="javascript:;">
        <span>头像</span>
        <span class="rightTip"></span>
        <span><a  href="head://auth"><img src="{{headImg ? (preImgUrl + headImg) : '../../assets/images/nv.png'}}" alt=""></a></span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <span>名字</span>
        <span class="rightTip"></span>
        <span>{{realName}}</span>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <span>手机</span>
        <span class="rightTip"></span>
        <span>{{phone}}</span>
      </a>
    </li>
  </ul>
  <ul class="changePassword">
    <li>
      <a href="password://modify">
        <span>修改密码</span>
        <span class="rightTip"></span>
      </a>
    </li>
  </ul>
  <a class="button"  href="login://out">退出</a>
</div>
