<div class="attendance">
  <ul class="full-data">
    <li>
      <span>本月累计到店(次)</span>
      <p>69</p>
    </li>
    <li>
      <span>本月平均到店次数</span>
      <p>5</p>
    </li>
  </ul>
  <div class="work-time-trend">
    <p class="attendance-tittle">工作时长趋势</p>
    <div class="chart">
      <div class="content">
        <div id="work-time-line"></div>
        <!--<div id="growth-trend-bar"></div>-->
      </div>
    </div>
  </div>
  <div class="visit-timetable">
    <p class="attendance-tittle">到店时刻表</p>
    <table>
      <tr>
        <td>到店时间</td>
        <td>到店名称</td>
      </tr>
      <tr>
        <td>12.08 10:18</td>
        <td>国美南山店</td>
      </tr>
      <tr>
        <td>12.07 14:49</td>
        <td>国美南山店</td>
      </tr>
      <tr>
        <td>12.07 13:49</td>
        <td>国美南山店</td>
      </tr>
      <tr>
        <td>12.07 11:49</td>
        <td>国美南山店</td>
      </tr>
    </table>
  </div>
</div>
