<div class="map-one">
  <div #contrainer [id]="heatMapId">
    <div *ngFor="let device of deviceList" #heatMap id="{{heatMapId}}-{{device['deviceUID']}}-{{type}}-{{date}}"  class="heat-map-slide">
      <img src="{{heatMapBg(device)}}" style="width: 100%;margin: 0px">
    </div>
  </div>

  <div class="progress">
    <p>值域</p>
    <div [id]="valueThresholdSliderId()" class="progress-bar"></div>
  </div>

  <div class="progress">
    <p>透明度</p>
    <div [id]="opacityRangeSliderId()" class="progress-bar">
    </div>
  </div>
</div>
