<div class="my-employee-attendance">
  <div class="select-time">
    <ul>
      <li class="icon left-tip"></li>
      <li>2017-12</li>
      <li class="icon right-tip"></li>
    </ul>
  </div>
  <ul class="full-data">
    <li>
      <span>员工人数</span>
      <p>26</p>
    </li>
    <li>
      <span>本月平均工作时长</span>
      <p>5.8h</p>
    </li>
  </ul>
  <table>
    <thead>
    <tr>
      <td>员工姓名</td>
      <td>所在门店</td>
      <td>平均工作时长</td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    <tr>
      <td>范冰冰</td>
      <td>国美南山店</td>
      <td>6.7h</td>
    </tr>
    </tbody>
  </table>
</div>
