<div class="sales-report">

  <div class="panel">
    <ul>
      <li>门店名称</li>
      <li><input type="text" placeholder="南山国美"></li>
    </ul>
    <ul>
      <li>上报时间</li>
      <li>
        <p class="select-btn"><span><i class="i-up"></i></span><span><i class="i-down"></i></span></p>
        <span>2018-3-12</span>
      </li>
    </ul>
  </div>

  <div class="panel">
    <ul>
      <li>交易总金额(元)</li>
      <li><input type="text" placeholder="283902.63"></li>
    </ul>
    <ul>
      <li>交易件数</li>
      <li><input type="text" placeholder="369"></li>
    </ul>
  </div>

  <button>确认上报</button>

</div>
